# Customize Git Bash, see: http://blog.fiki.tech/customize-git-bash#env.zsh

#### START CUSTOMIZE ENV GIT BASH ####
. "/etc/profile.d/aliases.sh"
. "/etc/profile.d/lang.sh"
. "ZSH_STARTUP_ANIMATION_START_PATH"

export HOME_USER="$HOME"
export USER_HOME="$HOME"
export HOMEUSER="$HOME"
export USERHOME="$HOME"

if [ -d "${HOME}/dev" ]; then
  unset $HOME
  export HOME="$HOME/dev"
  cd $HOME
fi

if [ -d "$USERHOME/.config/zsh" ]; then
    export ZDOTDIR="$USERHOME/.config/zsh"
    [[ -f $ZDOTDIR/.zshenv ]] && . $ZDOTDIR/.zshenv
else
    export ZDOTDIR="$USERHOME"
    # echo -e "\n== Please Create Your Zsh Folder at: '${USERHOME}/.config/zsh' ==\n"
fi

export ZSH="$USERHOME/.oh-my-zsh"
export ZSH_CACHE="$ZSH/cache"
[ ! -d "${ZSH_CACHE}" ] && mkdir "$ZSH_CACHE"

export ZSH_COMPDUMP="$ZSH_CACHE/.zcompdump-$HOST"
export HISTFILE="$ZSH_CACHE/zsh_history"
export HIST_STAMPS="dd/mm/yyyy"
export SAVEHIST=10000
export HISTSIZE=10000

export GPG_TTY=$(tty)

#### END CUSTOMIZE ENV GIT BASH ####

# Exec ZSH
startup_animation_start
zsh